@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    font-family: 'Space Grotesk', sans-serif;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px black inset !important;
}

input:-webkit-autofill {
    -webkit-text-fill-color: rgb(212 212 212 / var(--tw-text-opacity)) !important;
}
input[type="date"]::-webkit-calendar-picker-indicator {
    filter: invert(1);
}

.filter-invert {
    filter: invert(100%);
}


html{
    background-color: black;
}